

<div id="master-container">




<% @artists.each do |artist| %>
<div class="artist-box">
<span class="artist-name"><%= artist.name %></span>
<p class="artist-about"><%= artist.about %></p>
<% if artist.img_url != nil %>
<img class="artist-img" src="<%= artist.img_url %>">
<% end %>
</div>
<% end %>


</div>
