.nav{
    border:1px solid #ccc;
    background-color: #cc3300;
    border-width:1px 0;
    list-style:none;
    padding:0;
    text-align: center;
    margin-top: 40px;
    font-family: helvetica;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.nav li{
    font-size: 1.5em;
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.nav-link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: #ffffff;
  color: #cc3300;
  padding: 24px 10px;
}

#logo {
  border-radius: 15px;
  font-weight: bold;
  font-family: arial;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #ccc;
  position: relative;
  right: 100px;
  padding: 25px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
}

.entry-name {
	width: 250px;
	height: 100px;
  -ms-transform: skew(-20deg,0deg);
    -webkit-transform: skew(-20deg,0deg);
      transform: skew(-20deg,0deg);
	background: #cc3300;
}

.entry-box {
  border: solid 1px #000000;
  width: 75%;
  margin: auto;
}

.entry-text {
  border: solid 1px #000000;
}

.entry-image {
  border: solid 1px #000000;
}

.artist-box {
  width: 300px;
  height: 500px;
  border: solid 1px red;
	display: inline-block;
	position: relative;
	opacity: 1;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 30px;
	transition: all 0.25s ease-in 0s;
}


#master-container {
  margin-top: 50px;
  text-align: center;
}
